<?xml version="1.0" ?>

<robot name="abb_irb6640_185_280" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find abb_irb6640_gazebo)/urdf/irb6640_185_280_macro.xacro" />
  <xacro:include filename="$(find abb_irb6640_gazebo)/urdf/sensors/xtion_pro_live.urdf.xacro"/>

  <xacro:property name="deg_to_rad" value="0.01745329251994329577"/>

  <!-- Constants -->
  <xacro:property name="M_SCALE" value="0.001 0.001 0.001"/> 
  <xacro:property name="M_PI" value="3.14159"/>
  
  <xacro:abb_irb6640_185_280_gazebo prefix="" />

  <!-- connect robot with world -->
  <link name="world" />

  <link name="workcell">
    <visual>
      <origin xyz="-1.256 -2.635 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://abb_irb6640_support/meshes/irb6640_185_280/visual/workcell.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <inertial>
      <mass value="92.5052"/>
      <inertia ixx="1.0" ixy="1.0" ixz="1.0" iyy="1.0" iyz="1.0" izz="1.0" />
    </inertial>

  </link>
  <joint name="world_to_base" type="fixed">
    <parent link="world" />
    <child link="base_link" />
  </joint>

  <joint name="workcell" type="fixed">
    <parent link="world" />
    <child link="workcell" />
  </joint>
  
    <!-- Define RGB-D sensor -->
  <xacro:xtion_pro_live name="rgbd_camera" parent="base">
    <origin xyz="3.07 -1.6 2.4" rpy="0 ${75.0 * deg_to_rad} 0"/>
    <origin xyz="0 0 0" rpy="${-90.0 * deg_to_rad} 0 ${-90.0 * deg_to_rad}"/>
  </xacro:xtion_pro_live>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

</robot>
